﻿@model IEnumerable<ConnectIT.DataTransfer.FriendRequestDetails>

@{
    ViewData["Title"] = "List";
    ViewBag.Title = "Picture";
}
<style>
    #cell td.vert-align:first-child {
        width: 40px;
    }
</style>
@if (@TempData["message"] != null)
{
    <div class="alert alert-info" role="alert">@TempData["message"]</div>
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayName("Pending Requests")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {

            <tr class="">

                <td>
                    @if (user.SenderPhoto != null)
                    {
                        <img class="w3-circle" src="data:image;base64,@Convert.ToBase64String(user.SenderPhoto)" width="66" height="77" />
                    }


                    @Html.ActionLink(user.SenderFullName, "Details", "Users", new { id = user.SenderId }, new { @class = "btn btn-linK " })

                </td>
                <td>
                    <a asp-controller="FriendRequest" asp-action="Accept"
                       asp-route-SenderId="@user.SenderId"
                       asp-route-ReceiverId="@user.ReceiverId" class="btn btn-success btn">Accept  Request</a>
                </td>
                <td>
                    <a asp-controller="FriendRequest" asp-action="Decline"
                       asp-route-SenderId="@user.SenderId"
                       asp-route-ReceiverId="@user.ReceiverId" class="btn btn-danger btn">Decline  Request</a>
                </td>
            </tr>
        }


    <tbody>
</table>





@section scripts{


}