﻿@using System.Security.Claims;
@model UserSummaryModel

@if (@TempData["message"] != null)
{
    <div class="alert alert-info" role="alert">@TempData["message"]</div>
}

<style>

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }
</style>
@{
    var currentUserId = User.Identity.IsAuthenticated ? User.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value : "anonymous";
}
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            @if (Model.ProfilePhoto != null && (Model.AreDetailsVisibleToUser(currentUserId) || Model.Id == currentUserId))
                            {
                                <img class="col-4 border rounded" src="data:image;base64, @Convert.ToBase64String(Model.ProfilePhoto)" />
                            }
                            <div class="mt-3">
                                <h4>@Model.FullName</h4>
                                <p class="text-secondary mb-1">@Model.Job</p>
                                @if (User.Identity.IsAuthenticated && Model.Id != currentUserId)
                                {
                                    <a asp-controller="FriendRequest" asp-action="AddFriend" asp-route-receiverId="@Model.Id" class="btn btn-success btn-sm">Add Friend</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @if ((Model.AreDetailsVisibleToUser(currentUserId) || Model.Id == currentUserId))
                                {
                                  @Model.Email
                                }
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nationality</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @if ((Model.AreDetailsVisibleToUser(currentUserId) || Model.Id == currentUserId))
                                {
                                    @if (Model.Nationality != null)
                                    {
                                        @Model.Nationality;
                                    }
                                }
                                </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">BirthDate</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @if ((Model.AreDetailsVisibleToUser(currentUserId) || Model.Id == currentUserId))
                                {
                                    @if (Model.BirthDate.Date > DateTime.Parse("1888-02-02"))
                                    {
                                        @Model.BirthDate.ToShortDateString()
                                    }

                                }
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

