﻿
@model ConnectIT.Web.Models.UserEditModel
@{
    ViewData["Title"] = "Edit User Profile";

}

@if (@TempData["message"] != null)
{
    <div class="alert alert-info" role="alert">@TempData["message"]</div>
}

<h4>@ViewData["Title"]</h4>

<form id="profile-form" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job"></label>
                <input asp-for="Job" class="form-control" />
                <span asp-validation-for="Job" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input asp-for="HideProfileDetails" class="form-check-input" />
                    <label asp-for="HideProfileDetails" class="form-check-label"></label>
                </div>
            </div>
            <div class="btn-group" role="group" aria-label="First group">
                <a asp-action="List" class="btn btn-secondary">Back to List</a>
            </div>

            <div class="btn-group" role="group" aria-label="Second group">
                <button id="update-profile-button" type="submit" class="btn btn-primary">Save Changes</button>
            </div>

        </div>
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProfilePic" style="width: 100%;"></label>
                @if (Model.ProfilePic != null)
                {
                    <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePic))">
                }
                else
                {
                    <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="">
                }
                <input type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       asp-for="ProfilePic"
                       class="form-control"
                       style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                       onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="ProfilePic" class="text-danger"></span>
            </div>
        </div>

    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
