﻿@using System.Security.Claims;

@model UserListModel

@{
    ViewData["Title"] = "All Users";
}

<div class="row justify-content-lg-between align-items-baseline">
    <form asp-action="Index" method="get" id="search" class="col-10 mb-2 form-row">
        <div class="input-group col">
            <div class="input-group-prepend">
            </div>
            <input type="text" name=searchString asp-for=FullName class="form-control rounded-right" />
            <button type="submit" form="search" value="Submit" class="btn btn-info">Search</button>

        </div>
        <fieldset>
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Job" id="Job" name="searchBy" checked>
                <label class="form-check-label" for="Job">Job</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" value="Name" id="FullName" name="searchBy" checked />
                <label class="form-check-label" for="FullName">Name</label>
            </div>
        </fieldset>
    </form>
</div>
@if (Model.Users.Any())
{
    var currentUserId = User.Identity.IsAuthenticated ? User.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value : "anonymous";

    <div class="card-deck">
        @foreach (var item in Model.Users)
        {
            <div class="card mb-4" style="min-width:252px;max-width:252px">
                @if (item.ProfilePhoto != null && ((item.AreDetailsVisibleToUser(currentUserId)||item.Id==currentUserId)))
                {
                    <img class="card-img-top preview-md" src="data:image;base64,@Convert.ToBase64String(item.ProfilePhoto)" alt="User Image">
                }
                else
                {
                    <img class="card-img-top preview-md" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" width="0" height="0" alt="" />
                }
                <div class="card-body">
                    <h4 style="  color: #2F4F4F;" class="card-title">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h4>
                    <h6 style="  color: #87CEFA;" class="card-title">@Html.DisplayFor(modelItem => item.Job)</h6>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("View Profile", "Details", new { Id = item.Id }, new { @class = "btn btn-outline-info float-right" })
                </div>
            </div>
        }
    </div>
}
else
{
    <h4 class="rounded border bg-info text-white p-3 text">No Users found. Try changing search criteria.</h4>
}

