﻿@model IEnumerable<ConnectIT.DataTransfer.UserDetail>
@using System.Security.Claims

@{
    ViewData["Title"] = "List";
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Where(x=>x.Id!= (User.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value)))
        {
            <tr class="@(user.IsDeleted ? "bg-danger" : "")">
                <td>@Html.DisplayFor(modelItem => user.Email)</td>
                <td>
                    <button type="button" data-user="@user.Id" class="btn btn-warning" onclick="deleteUser(this)">Delete</button>
                    <a asp-controller="Users" asp-action="RestoreUser"
                       asp-route-userId="@user.Id"
                       class="btn btn-warning">Restore</a>
                    <a asp-controller="Users" asp-action="Edit"
                       asp-route-Id="@user.Id"
                       class="btn btn-warning">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>




<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deleting User</h5>
            </div>
            <div class="modal-body">
                <form id="ban-form" asp-action="DeleteUser" method="post">
                    <input id="userId" name="userId" type="hidden" />
                    <div class="form-group">
                        <label class="control-label">Are you sure you want to delete this user?</label>
                        <small class="form-text text-muted">
                            <br />User will be deleted as of now
                        </small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="ban-form" value="Submit">Confirm Delete</button>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">

        function deleteUser(element) {
            //display modal
            $('#delete-modal').modal('show');
            // set userid in formn
            var userId = $(element).data("user");
            $('#userId').val(userId);

         }

        
    </script>
}