﻿@model PostEditModel

@{
    ViewData["Title"] = "Edit Post";
}

<div class="card ">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs pull-right" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="content-tab" data-toggle="tab" href="#content" role="tab" aria-controls="content" aria-selected="false">Content</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pictures-tab" data-toggle="tab" href="#pictures" role="tab" aria-controls="pictures" aria-selected="false">Pictures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Comments</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                <form method="post" asp-action="DeletePost" asp-controller="Admin">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-row mb-3">
                        <div class="col-3 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Id</span>
                            </div>
                            <input type="text" readonly class="form-control" value="@Model.Id">
                            <div class="input-group-append">
                                <button class="btn btn-danger" type="submit">Delete Forever</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Author Id</span>
                            </div>
                            <input type="text" readonly class="form-control" value="@Model.AuthorId">
                        </div>
                        <div class="col input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Created</span>
                            </div>
                            <input type="text" readonly class="form-control" value="@Model.CreatedOn">
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="content" role="tabpanel" aria-labelledby="content-tab">
                <form method="post" asp-controller="Admin" asp-action="EditPost" asp-antiforgery="true">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Location"></label>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content"></label>
                        <textarea asp-for="Content" rows="3" class="form-control mb-0"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <input type="submit" class="btn btn-info" value="Update" />
                </form>
            </div>
            <div class="tab-pane fade" id="pictures" role="tabpanel" aria-labelledby="pictures-tab">
                <div class="card-columns">
                    @foreach (var photo in Model.Photos)
                    {
                        <div class="card" data-photo-id="@photo.Id" data-post-id="@Model.Id">
                            <img class="card-img" src="data:image;base64,@photo.ToBase64()" />
                            <div class="card-img-overlay">
                                <button type="button" class="btn btn-danger" onclick="userInteraction.deletePhoto($(this))">Delete</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                @foreach (var comment in Model.Comments)
                {
                    <form asp-antiforgery="true">
                        <input type="hidden" asp-for="@comment.PostId" name="PostId">
                        <div class="form-row mb-3">
                            <div class="col-2 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Id</span>
                                </div>
                                <input type="text" readonly class="form-control" asp-for="@comment.Id" name="Id">
                                <div class="input-group-append">
                                    <button class="btn btn-danger" type="button" onclick="userInteraction.deleteComment($(this))">Delete</button>
                                </div>
                            </div>
                            <div class="col-5 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Author</span>
                                </div>
                                <input type="text" readonly class="form-control" asp-for="@comment.AuthorName" name="AuthorName">
                            </div>
                            <div class="col-5 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Created</span>
                                </div>
                                <input type="text" readonly class="form-control" asp-for="@comment.CreatedOn" name="CreatedOn">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col input-group mb-5">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Content</span>
                                </div>
                                <input type="text" asp-for="@comment.Content" class="form-control" name="Content" />
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button" onclick="userInteraction.updateComment($(this))">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>