﻿@model ConnectIT.Web.Models.PostInputModel

@{
    ViewData["Title"] = "Create Post";
}

@section Styles{
    <link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
}

<div class="btn-group">
    <a asp-action="Index" class="btn btn-secondary">Back</a>
    <button type="submit" form="post-form" value="Submit" class="btn btn-info">Publish</button>
</div>
<hr />
<form asp-action="Create" id="post-form" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" rows="3" class="form-control mb-0"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Friends"></label>
        <select multiple="multiple" class="form-control" asp-for="@Model.TaggedFriends" asp-items="Model.Friends"></select>
    </div>
    <div class="form-group form-check-inline">
        <input asp-for="PubliclyVisible" class="form-check-input" />
        <label asp-for="PubliclyVisible" class="form-check-label"></label>
    </div>
    <div class="form-group custom-file">
        <label asp-for="Photos"></label>
        <input asp-for="Photos" class="form-control-file" />
    </div>
</form>

@section Scripts {
    <script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#TaggedFriends').multiselect();
        });
    </script>
}
