﻿@model IEnumerable<ConnectIT.DataTransfer.UserSummary>

@if (@TempData["message"] != null)
{
    <div class="alert alert-info" role="alert">@TempData["message"]</div>
}

@if (Model.Any())
{
    <div class="card-deck">
        @foreach (var item in Model)
        {
            <div class="card mb-4" style="min-width:252px;max-width:252px">
                @if (item.ProfilePhoto != null)
                {
                    <img class="card-img-top preview-md" src="data:image;base64,@Convert.ToBase64String(item.ProfilePhoto)" alt="User Image">
                }
                else
                {
                    <img class="card-img-top preview-md" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" width="0" height="0" alt="" />


                }
                <div class="card-body">
                    <h4 style="  color: #2F4F4F;" class="card-title">@Html.ActionLink(item.FirstName + " " + item.LastName, "Details","Users", new { id = item.Id }, new { @class = "btn btn-linK" })</h4>
                </div>
                <div class="card-footer">
                    <button type="button" data-item="@item.Id" class="btn btn-danger btn-sm" onclick="RemoveFriend(this)">Remove Friend</button>
                </div>
            </div>

        }
    </div>

}

else
{
    <h4 class="rounded border bg-info text-white p-3 text">You have no friends.</h4>
}

<div class="modal fade" id="removefriend-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Removing user from friends</h5>
            </div>
            <div class="modal-body">
                <form id="ban-form" asp-action="RemoveFriend" method="post">
                    <input id="receiverId" name="receiverId" type="hidden" />
                    <div class="form-group">
                        <label class="control-label">Are you sure you want to unfriend this user?</label>
                        <small class="form-text text-muted">
                            <br />You will no longer be friends
                        </small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="ban-form" value="Submit">Remove Friend</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

        function RemoveFriend(element) {
            // display modal
            $('#removefriend-modal').modal('show');

            // set receiverId in form
            var receiverId = $(element).data("item");
            $('#receiverId').val(receiverId);
        }
    </script>
}
