﻿@model IEnumerable<CommentDetail>
@foreach (var comment in Model.Take(3))
{
    <partial name="_CommentPartial" for="@comment" />
}

@if (Model.Count() > 3)
{
    var modalId = "comments-modal-" + ViewData["PostId"];
    <button class="btn badge badge-pill btn-outline-info mt-2" data-toggle="modal" data-target="#@modalId">
        <img src="/assets/chat-text.svg" width="16" height="16" />
        <span>+ @Model.Skip(3).Count()</span>
    </button>
    <div id="@modalId" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @foreach (var comment in Model)
                    {
                        <partial name="_CommentPartial" for="@comment" />
                    }
                </div>
            </div>
        </div>
    </div>
}