﻿@model PostDetail
@{
    ViewData.Add("PostId", Model.Id);

    var headerText = Model.Author.FullName;

    if (Model.TaggedFriends.Any())
        headerText += " with " + string.Join(", ", Model.TaggedFriends.Select(x => x.FullName));

    if (Model.Location != null)
        headerText += " at " + Model.Location;

    headerText += " on " + Model.CreatedOn.ToDisplayFormat();
}
<div data-post-id="@Model.Id" class="card">
    <div class="card-header">
        @if (User.IsInRole("admin"))
        {
            @Html.ActionLink("Edit", "EditPost", "Admin", new { id = Model.Id }, new { @class = "btn badge badge-pill btn-info" })
        }
        @headerText
    </div>
    <div class="card-body">
        @Model.Content
    </div>
    @if (Model.Photos.Any())
    {
        <div class="position-relative">
            <img class="card-img" src="data:image;base64,@Model.Photos.First().ToBase64()" />
            @if (Model.Photos.Count() > 1)
            {
                <button class="btn btn-outline-info position-absolute" style="bottom:5%;right:5%" data-toggle="modal" data-target="#gallery-@Model.Id">
                    + @Model.Photos.Skip(1).Count()
                </button>
                <!-- Gallery Modal -->
                <div id="gallery-@Model.Id" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body card-deck">
                                @foreach (var photo in Model.Photos.Skip(1))
                                {
                                    <img class="card-img pb-3 px-lg-3" src="data:image;base64,@photo.ToBase64()" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    <div class="card-footer">
        <partial name="_ReactionCollectionPartial" for="@Model.Reactions" view-data="ViewData" />
        <div id="comments-@Model.Id" class="mt-2">
            <partial name="_CommentCollectionPartial" for="@Model.Comments" view-data="ViewData" />
        </div>
    </div>
</div>
