﻿@using System.Security.Claims;

@model IEnumerable<ReactionDetail>

@if (User.Identity.IsAuthenticated)
{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var postId = (int)ViewData["PostId"];

    <button class="@Model.GetReactionStyles(userId, 0)" data-code="0" onclick="userInteraction.toggleReaction($(this), @postId)">
        <img src="/assets/hand-thumbs-up.svg" width="16" height="16" />
        <span>@Model.CountWithCode(0)</span>
    </button>
    <button class="@Model.GetReactionStyles(userId, 1)" data-code="1" onclick="userInteraction.toggleReaction($(this), @postId)">
        <img src="/assets/heart.svg" width="16" height="16" />
        <span>@Model.CountWithCode(1)</span>
    </button>
    <button class="@Model.GetReactionStyles(userId, 2)" data-code="2" onclick="userInteraction.toggleReaction($(this), @postId)">
        <img src="/assets/emoji-laughing.svg" width="16" height="16" />
        <span>@Model.CountWithCode(2)</span>
    </button>
    <button class="@Model.GetReactionStyles(userId, 3)" data-code="3" onclick="userInteraction.toggleReaction($(this), @postId)">
        <img src="/assets/emoji-angry.svg" width="16" height="16" />
        <span>@Model.CountWithCode(3)</span>
    </button>
    <button class="@Styles.StandardBadgeStyles" onclick="userInteraction.createComment(@postId)">
        <img src="/assets/pencil.svg" width="16" height="16" />
        <span>Comment</span>
    </button>
}
else
{
    <label class="badge badge-pill border border-info">
        <img src="/assets/hand-thumbs-up.svg" width="16" height="16" />
        <span>@Model.CountWithCode(0)</span>
    </label>
    <label class="badge badge-pill border border-info">
        <img src="/assets/heart.svg" width="16" height="16" />
        <span>@Model.CountWithCode(1)</span>
    </label>
    <label class="badge badge-pill border border-info">
        <img src="/assets/emoji-laughing.svg" width="16" height="16" />
        <span>@Model.CountWithCode(2)</span>
    </label>
    <label class="badge badge-pill border border-info">
        <img src="/assets/emoji-angry.svg" width="16" height="16" />
        <span>@Model.CountWithCode(3)</span>
    </label>
}