﻿@model ConnectIT.DataTransfer.UserSummary

@{

}
<div>
    <h3>
        @if (Model.ProfilePhoto != null)
        {<img class="rounded-circle" src="data:image;base64,@Convert.ToBase64String(Model.ProfilePhoto)" width="33" height="33" />
        } @Model.FirstName @Model.LastName
    </h3>
</div>