﻿@model IEnumerable<PostDetail>

<div id="post-container" class="card-columns">
    <partial name="_PostCollectionPartial" for="@Model" />
</div>
<div id="comment-dialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Leaving a comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="comment-text" class="form-control" rows="2" type="text" required></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" onclick="userInteraction.publishComment()">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
